# Virtual environments
.venv/
.venv-sim/

# Python
__pycache__/
*.pyc

# VS Code
.vscode/

# Temporary files
tempCodeRunnerFile.py

# Data
*.npy

# Simulator
gym-pybullet-drones/ls 
gym-pybullet-drones/